<%- include("header") %> 
    <div class = "box" id="heading">
        <h1><%= htmlListTitle %> </h1>
    </div>
    <div class="box">
        <% htmlTodoList.forEach(element => { %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkBox" value="<%= element._id %>" onchange="this.form.submit()">
                <p><%= element.todoThing %> </p>
            </div>
        </form>
        <% }) %>
    
    <form class="item" action="/" method="post">
        <input type="text" name="newTodo" placeholder="Enter a new Todo.." autocomplete="off">
        <button type="submit" name="addTodobutton" value=<%= htmlListTitle %>  >+</button>
    </form>
</div>
<%- include("footer")  %> 