<%- include("header") %> 
    <div class = "box" id="heading">
        <h1><%= htmlListTitle %> </h1>
    </div>
    <div class="box">
        <% htmlTodoList.forEach(element => { %>
            <div class="item">
            <input type="checkbox">
            <p><%= element.todoThing %> </p>
        </div>
        <% }) %>
    
    <form action="/" method="post">
        <input type="text" name="newTodo" placeholder="Enter a new Todo.." autocomplete="off">
        <button type="submit" name="addTodobutton" value=<%= htmlListTitle %>  >+</button>
    </form>
</div>
<%- include("footer")  %> 